// COLORS
$color-primary: #333;
$text-color: #555;
$border-color: #000;
$white_color:#fff;
$primary-hover: #bac34e;
$primary-bkg-color: #0a472e;
$opcacity-color:#aaa;



// FONTS
$font-stack: 'Arial', sans-serif;
