.people {
  display: flex;
  padding-top: 50px;
}

.people__left {
  padding: 20px;
}
.people__right {
  padding: 20px 20px 0 80px;
}

.people__title {
  font-size: 30px;
  color: $primary-bkg-color;
  margin-bottom: 20px;
}

.people__desc {
  font-size: 14px;
  color: $text-color;
  margin-bottom: 16px;
}

.people__text {
  font-size: 14px;
  color: $text-color;
  margin-bottom: 16px;
}

.people__link {
  font-size: 12px;
  color: $primary-hover;
  padding-bottom: 5px;
  font-weight: 700;
  border-bottom: 1px solid $primary-hover;
  display: inline-block;
  text-decoration: none;
}

.people__link:hover {
  color: $primary-hover;
}

.people__arrow {
  color: $primary-hover;
  transition: all 0.4s ease;
}

.people__link:hover .people__arrow {
  color: $primary-hover;
  transform: translateX(5px);
  transition: all 0.4s ease;
}

.customer {
  display: flex;
  padding-top: 50px;
}

.customer__part {
  padding: 50px;
}
.customer__title {
  font-size: 30px;
  font-weight: 400;
  color: $primary-bkg-color;
  margin-bottom: 30px;
}
.customer__text {
  font-size: 14px;
  color: $border-color;
  font-weight: 400;
  margin-bottom: 16px;
}
.cutomer__desc {
  font-size: 14px;
  color: $opcacity-color;
  margin-bottom: 100px;
}

@media screen and (max-width:992px) {

  .people__right {
    padding-left: 30px;
  }
}

@media screen and (max-width:768px) {

  .people {
    flex-direction: column;
  }
  .people__right {
    padding-left: 30px;
  }

  .customer {
    flex-direction: column-reverse;
  }
}